<article class="bottom-space">
    <div class="text-center">
        <%= article_cover @article.cover.url %>
    </div>

    <div class="row text-center">
        <div class="col-xs-12 ligth-border ">
            <h1 class="be-big black"><%= @article.title %></h1>
            <p class="text-right be-small">
                <%= link_to "Atras", articles_path, class:"underline" %> 
                -
                <% unless @article.user.nil? %>
                    Escrito por: <%= @article.user.email %>
                <%end%>
            </p>
            
            <div class="text-justify">
                <%= Sanitize.fragment(@article.body,Sanitize::Config::RELAXED).html_safe %>
            </div>

            <div class="col-xs-12 text-center top-space">
                <%= render "articles/comments" %>
            </div>
        </div>
    </div>
</article>