<div class="row  jumbotron">
  <div class="main-container col-xs-12">
    <div class="box">
      <div classs="" >
        <h1 class="  text-center col-xs-12">Iniciar Sesion</h1>
      </div> 
      <div cloass="container form-group ">
        <div class="text-center form-group">
          <div class="main-container">
            <div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            </div>
              
            <div class="field ">
              <%= f.label :email, class:"col-md-4 col-xs-12 text-left" %><br />
              <%= f.email_field :email, autofocus: true, class:"form-group col-xs-12"%>
            </div>
          


            <div class="field">
              <%= f.label :password, class:"col-md-4  col-xs-12 text-left" %><br />
              <%= f.password_field :password, autocomplete: "off", class:"form-group col-xs-12" %>
            </div>


            <div class="field ">
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me, class:" hidden " %> 
                <%= f.label  :remember_me, class:" hidden " %> 
              <% end %>
            </div>

              <div class="box">
                <div class="actions text-left col-xs-12 top-space ">
                  <%= f.submit "Entrar", class:"btn btn-login btn-lg btn-block"  %>
                </div>                
              </div>
            <% end %>
            <div class="container">
              <%= render "devise/shared/links" %>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>